/*body {*/
/*  background-image: url("../images/header-bg_hjiJnIY.png");*/
/*  background-repeat: no-repeat;*/
/*  background-attachment: fixed;*/
/*  background-position: center center;*/
/*  background-size: cover;*/
/*  height: 100%;*/
/*}*/

/*.dropdown-toggle::after {*/
/*  content: none;*/
/*}*/

/*.custom-shadow {*/
/*  box-shadow: 5px 5px 25px 19px #000000;*/
/*}*/

/*.product_id {*/
/*  color: gray;*/
/*  font-size: 15px;*/
/*}*/

/*.badge.bg-warning.text-dark {*/
/*  position: absolute;*/
/*  top: 10px;*/
/*  right: 5px;*/
/*  z-index: 1;*/
/*  padding: 5px 10px;*/
/*  border-radius: 3px;*/
/*  font-size: 1rem;*/
/*  box-shadow: 2px 2px 15px 9px #000000;*/
/*}*/

/*.badge-banner {*/
/*  top: 80%;*/
/*  border-radius: 15px;*/
/*  font-size: 0.7rem;*/
/*}*/
body {
  background-image: url("../images/header-bg_hjiJnIY.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 5px 5px 25px 19px #000000;
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}

.container {
  flex: 1;
}

.my-button {
    background-color: #ff6fa9; /* Ваш цвет */
    color: #ffffff; /* Белый цвет текста */
    border: none; /* Убираем границу, которую добавляет Bootstrap */
    transition: background-color 0.3s ease; /* Анимация перехода */
}

.my-button:hover, .my-button:focus {
    background-color: #ff3d85; /* Темнее при наведении или фокусе */
}

.my-button:active {
    background-color: #ff1a70; /* Еще темнее при нажатии */
}
